# docker-compose.yml
services:

  api:
    build: .
    container_name: pr_service_api
    ports:
      - "8080:8080"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: pr_service_db
    environment:
      POSTGRES_DB: pr_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
